
/* Reference Values
Healthcare Red: #a72a17;
Secondary Text: #7a7a7a
*/
{
  /* Postition */
  /* Size */
  /* Display */
  /* Appearance */
}

/*----------------------------------------------------------------------------*/
/* Global Styles */
/*----------------------------------------------------------------------------*/

body {
  color: #444;
  font-size: medium;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-title {
  margin-bottom: 1rem;
  /* Display */
  text-align: center;
  /* Appearance */
  color: #7a7a7a;
  font-size: 1.5rem;
}

.button {
  /* Size */
  padding: 0.5em 1.5em;
  border: none;
  margin-top: 0.5em;
  /* Display */
  display: inline-block;
  cursor: pointer;
  /* Appearance */
  color: white;
  background-color: #276ef1;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
 color: white;
 text-decoration: none;
}

@media (min-width: 1200px) {
  .container.narrow {
      max-width: 720px;
  }  
}

/*----------------------------------------------------------------------------*/
/* Specific Styles */
/*----------------------------------------------------------------------------*/
.masthead {
  /* Size */
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  /* Appearance */
  background-color: #f0f0f0;
}

.masthead .gov-brand {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: start;
  /* Appearance */
  color: #333;
  text-decoration: none;
}

.masthead .gov-brand img {
  /* Size */
  height: 1rem;
  margin-right: 0.5rem;
}

.site-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.site-header .site-brand {
  /* Display */
  display: flex;
  align-items: center;
  justify-content: start;
  /* Appearance */
  color: #444;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

.site-header .site-brand img {
  /* Size */
  height: 38px;
  margin-right: 6px;
}

.site-header .agency-brand {
}

.site-header .agency-brand img {
  /* Size */
  height: 71px;
}

.hero {
}

.hero .container {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .headline {
  /* Display */
  text-align: center;
  /* Appearance */
  font-size: 3rem;
}

.hero .headline .headline-highlight {
  /* Appearance */
  color: #a72a17;
}

.hero .tagline {
  /* Appearance */
  color: #7a7a7a;
  font-size: 2rem;
  font-weight: 900;
}

.what-is-this {
  /* Appearance */
  background-color: #a72a17;
  color: #FFF;
  font-size: 1.2rem;
}

.how-can-i-help .jobs-list {
  margin-top: 4rem;
}

.how-can-i-help .job .job-graphic {
  /* Position */
  position: relative;
  /* Size */
  width: 45%;
  /* Display */
  pointer-events: none;
}

.how-can-i-help .job .job-description {
  /* Position */
  position: absolute;
  top: 0;
  left: 45%;
  /* Size */
  height: 100%;
  padding-left: 2rem;
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@media (min-width: 576px) { 
  .how-can-i-help .job .job-graphic {
    width: 180%;
    margin-left: -40%;
  }
  .how-can-i-help .job.down .job-graphic {
    z-index: 1;
    margin-top: 180%;
  }
  .how-can-i-help .job .job-description {
    /* Position */
    z-index: -1;
    left: 50%;
    /* Size */
    height: 50%;
    padding-left: 1em;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: grey;
    margin-left: -1px;
    /* Display */
    justify-content: flex-start;
    /* Appearance */
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .how-can-i-help .job.down .job-description {
    top: 80%;
    height: auto;
    padding-top: 1rem;
  }
}

.how-can-i-help .job .job-description .job-title {
  /* Size */
  margin-bottom: 0;
  /* Appearance */
  font-size: 1rem;
}


.faq .section-title {
  /* Size */
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* Appearance */
  background-color: #7a7a7a;
  color: #FFF;
  text-align: start;
}

.site-footer {
  /* Size */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-footer .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.site-footer .acknowledgements {
  /* Display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Appearance */
  font-size: 0.8rem;
}

.site-footer .ogp-logo {
  max-height: 3rem;
  max-width: 15rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}